@import "../../../../../stylesheets//sass/components/variables";

.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .empty-msg {
    font-size: $font-size-h4;
    line-height: $font-size-h3;
    font-weight: $weight-400;
    color: $color_navy_600;
  }
}
