
@import "../../../../../stylesheets/sass/components/variables";

.job-card {
  background: #ffffff;
  box-shadow: $card-shadow;
  border-radius: $item-radius;
  margin-bottom: $space_12;
}

.btn-text {
  @include text-link;
   width: fit-content;
 }

.divider {
  border: $item-divider;
}

.card-footer {
  padding: $space_12 $space_16;
}