.job-card {
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin-bottom: 10px;

  .description {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #223049;
  }
  .normal-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #5e687a;
  }

  .duration {
    font-weight: 500;
  }
  .btn-text {
    font-size: 16px;
    line-height: 20px;
    color: #0461cb;
    font-weight: 500;
    width: fit-content;
  }
  .tag-label-wrapper {
    display: flex;
    gap: 8px;
    margin-top: 12px;
  }
}
