@import "stylesheets/sass/components/variables";

.tag-label {
  font-weight: 600;
  font-size: $space_12;
  line-height: $space_14;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 4px 6px;
  display: flex;
  flex-grow: 0;
}
.job-status {
  background: $color_navy_75;
}
.urgency {
  border: 1px solid #fcd2b0;
  color: #f78f39;
}
