@import "../../../../../stylesheets//sass/components/variables";

.bar-title {
   background-color: $color_sked_blue;
    .text-title {
        @include title;
    }
    .btn-save {
        color: $page-header-color;
        opacity: 0.4;
    }
}
