@import "stylesheets//sass/components/variables";

.bar-title {
   background-color: $color_sked_blue;
    .text-title {
        @include title;
    }
    .btn-save {
        color: $page-header-color;
        
    }
    .enable-btn {
        opacity: 1;
    }
    .disable-btn {
        opacity: 0.4;
        pointer-events: none;
        touch-action: none;
    }
}
.text-popup {
    @include normal-text-gray;
}

.content-msg {
    display: flex;
    gap: 16px;
    font-size: $font-size-h4;
    line-height: 16px;
    font-weight: 500;
}


/** Used to define container behavior: width, position: fixed etc... **/
.Toastify {
    .Toastify__toast-container {
        width: calc(100vw - 32px);
        padding: 0;
        left: 0;
        margin: 0 16px;
    }
    
    /** Used to define the position of the ToastContainer **/
    .Toastify__toast-container--top-left {
    }
    .Toastify__toast-container--top-center {
    }
    .Toastify__toast-container--top-right {
    }
    .Toastify__toast-container--bottom-left {
    }
    .Toastify__toast-container--bottom-center {
    }
    .Toastify__toast-container--bottom-right {
    }
    
    /** Classes for the displayed toast **/
    .Toastify__toast {
        background-color: $color_green;
        color: $button-default-bg;
    }
    .Toastify__toast--rtl {
    }
    .Toastify__toast-body {
        margin: 0;
        padding: 0;
    }
    
    /** Used to position the icon **/
    .Toastify__toast-icon {
        svg {
            fill: $color_green;
        }
       
    }
    
    /** handle the notificaiton color and the text color based on the theme **/
    .Toastify__toast-theme--dark {
    }
    .Toastify__toast-theme--light {
        background: $color_green;
        color: #fff;
        min-height: unset;
        padding: 16px;
        border-radius: 4px;
        margin-bottom: 16px;
    }
    .Toastify__toast-theme--colored.Toastify__toast--default {
    }
    .Toastify__toast-theme--colored.Toastify__toast--info {
    }
    .Toastify__toast-theme--colored.Toastify__toast--success {
        background-color: $color_green;
    }
    .Toastify__toast-theme--colored.Toastify__toast--warning {
    }
    .Toastify__toast-theme--colored.Toastify__toast--error {
    }
    
    .Toastify__progress-bar {
    }
    .Toastify__progress-bar--rtl {
    }
    .Toastify__progress-bar-theme--light {
    }
    .Toastify__progress-bar-theme--dark {
    }
    .Toastify__progress-bar--info {
    }
    .Toastify__progress-bar--success {
    }
    .Toastify__progress-bar--warning {
    }
    .Toastify__progress-bar--error {
    }
    /** colored notifications share the same progress bar color **/
    .Toastify__progress-bar-theme--colored.Toastify__progress-bar--info, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--success, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
    }
    
    /** Classes for the close button. Better use your own closeButton **/
    .Toastify__close-button {
    }
    .Toastify__close-button.Toastify__close-button--light {
        color: #fff;
        opacity: 1;      
    }
    .Toastify__close-button--default {
    }
    .Toastify__close-button > svg {
    }
    .Toastify__close-button:hover, .Toastify__close-button:focus {
    }
}
